@media screen and (max-width: 1384px) {
  #des-dev-h3 {
    display: none;
  }
}

@media screen and (min-width: 1194px) {
  main {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .center-sm-screen {
    margin: auto;
    justify-content: center;
  }
  #rt-full {
    height: 19rem;
  }
  .smaller-marg {
    margin-top: 0;
  }
  .bigger-txt {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 991px) {
  #rt-full {
    height: 40rem;
  }
}

@media screen and (max-width: 799px) {
  #rt-full {
    height: 30rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  #rt-full {
    height: 20rem;
  }
  h1 {
    font-size: 3rem !important;
  }
}

body {
  background-color: #cdfff9 !important;
}

#hs {
  text-decoration: none;
  font-size: smaller;
  font-weight: 500;
  margin-top: 8px;
}

.i-span {
  padding: 0px 7px;
  margin: 5px 0;
}

.icon-color {
  color: #cdfff9;
}

.icon-color:hover {
  color: #80e6da;
}

.bs-foot {
  color: #cdfff9;
}

h1 {
  /* font-size: 100rem; */
  margin-top: 4rem !important;
  margin-bottom: 5px;
  font-size: 5rem;
}



#greeting {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn:hover {
  background-color: #054f6c !important;
  border: black !important;
}

.spc-out {
  margin-top: 10rem;
}

.icon {
  padding-top: 1rem;
  padding-bottom: 1.7rem;
}

.modal-icon {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.hr-fix {
  margin: 10rem auto;
}

.dev-ul {
  list-style-position: inside;
  margin: auto;
  width: 100%;
  text-align: left;
}

.blue {
  color: #05668d;
}

.purple {
  color: #CDA2AB;
}

.indent {
  text-indent: 2rem;
}

#sec-title {
  font-size: 2.5rem;
}

#my-pic {
  border: 1px solid black;
  border-radius: 100px;
  margin: 1.5rem auto;
  width: 15%;
}

#so_calendar {
  border: 1px solid black;
}

.cs-title {
 color: black;
}

.non-cs {
  margin-bottom: 1.5rem;
}

.non-cs-img {
  margin-bottom: 1.7rem;
}

.non-cs-btn {
  margin: 1.5rem;
}

.learn-more {
  text-decoration: none;
}

.tn {
  border-radius: 40px;
  border: 1px solid gray;
}

.tn-bottom {
  border-radius: 40px;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

.tn-bottom:hover{
  background-color: #E0D3DE;
}

.cs-rt-img {
  border-radius: 40px;
  border: 3px solid gray;
}

.project-title {
  margin-top: 2rem;
}

.des-proj {
  margin-top: 3rem;
}

.i-mr {
  margin-right: 0.5rem;
}

#note {
  margin-top: 1rem;
}

#my-footer {
  margin-top: 3rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#boot {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

#bs {
  display: block;
}

.bull-pts {
  list-style: square;
}



/*ANIMATIONS*/
@keyframes titleFade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.titleFade-animation {
  animation: 1.5s titleFade;
}



/*FONTS*/

/* title */
.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 00;
  font-style: normal;
}

/* body */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}